<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.AppCenter" version="1.6.0" targetFramework="xamarinios10" />
  <package id="Microsoft.AppCenter.Analytics" version="1.6.0" targetFramework="xamarinios10" />
  <package id="Microsoft.AppCenter.Crashes" version="1.6.0" targetFramework="xamarinios10" />
  <package id="Microsoft.ProjectOxford.Vision" version="1.0.393" targetFramework="xamarinios10" />
  <package id="Newtonsoft.Json" version="8.0.2" targetFramework="xamarinios10" />
  <package id="Xam.Plugin.Media" version="2.6.2" targetFramework="xamarinios10" />
  <package id="Xam.Plugins.Notifier" version="2.1.0" targetFramework="xamarinios10" />
  <package id="Xam.Plugins.TextToSpeech" version="3.3.2" targetFramework="xamarinios10" />
  <package id="Xamarin.Forms" version="2.3.4.247" targetFramework="xamarinios10" />
  <package id="Xamarin.TestCloud.Agent" version="0.20.6" targetFramework="xamarinios10" />
</packages>